- name: datastore
  fqdn: datastore.test
  distro: "{{ datastore_distro | default('fedora-35') }}"
  memory: 1024
  vcpus: 1
  username: centos
  root_disk_size: 40
  root_password: '!234AaAa56'
  groups: ['datastore']
  networks:
  - network: virt-lightning
    ipv4: 192.168.123.4
  - network: default
    ipv4: 192.168.122.4
- name: esxi1
  fqdn: esxi1.test
  distro: "{{ esxi_distro | default('esxi-7.0U3C-19193900-STANDARD') }}"
  root_password: '!234AaAa56'
  groups: ['esxis']
  networks:
  - network: virt-lightning
    ipv4: 192.168.123.6
  - network: default
  meta_data_media_type: cdrom
  default_bus_type: sata
- name: vcenter
  fqdn: vcenter.test
  distro: "{{ vcenter_distro | default('VMware-VCSA-all-7.0.3-20395099-001') }}"
  vcpus: 4
  root_disk_size: 100
  root_password: '!234AaAa56'
  networks:
  - network: virt-lightning
    ipv4: 192.168.123.8
